---
layout: default.hbs
subject: Traff1k Newsletter
---
<!-- Start Intro Text -->
<table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="full-text">
   <tbody>
      <tr>
         <td>
            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
               <tbody>
                  <tr>
                     <td width="100%">
                        <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                           <tbody>
                              <!-- Spacing -->
                              <tr>
                                 <td height="20" class="spacing">&nbsp;</td>
                              </tr>
                              <!-- Spacing -->
                              <tr>
                                 <td>
                                    <table width="560"  cellpadding="0" cellspacing="0" border="0" class="devicewidth">
                                       <tbody>
                                          <!-- spacing -->
                                          <tr>
                                             <td width="100%" height="20" class="spacing">&nbsp;</td>
                                          </tr>
                                          <!-- End of spacing -->
                                          <!-- content -->
                                          <tr>
                                             <td class="bodytext" st-content="fulltext-content">
                                             	<h2 class="title">{{ default.header_one }}</h2>
                                                <span class="below">Change is in the air this month with and we have some exciting news and trends to share with you!</span>
                                                <div class="lists">
                                                In this newsletter:
                                                   <ul>
                                                      <li><span class="green">+</span> Projecting Excellence in Sydney</li>
                                                      <li><span class="green">+</span> Digital Marketing Performance Test</li>
                                                      <li><span class="green">+</span> Featured Development Work</li>
                                                      <li><span class="green">+</span> Featured Results</li>
                                                      <li><span class="green">+</span> New Faces</li>
                                                      <li><span class="green">+</span> New Ways To Pay</li>
                                                   </ul>
                                                </div> 

                                                <div class="newTrends">
                                                   <h2>Projecting Excellence In Sydney</h2>
                                                   <p>Having recently acquired a large new office in the heart of Sydney’s CBD, we undertook an expansion where it was essential that the result be of the highest international quality.</p>

                                                   <p>
                                                      This new space reflects the energy and values of Traff1k D1g1tal in an open and dynamic workspace that incorporates the needs of staff.  The discreet interior environment achieves a restrained, contemporary opulence with bespoke luxury detailing.  <a target="_blank" href="{{default.gallerylink}}">View gallery here</a>
                                                   </p>
                                                </div>

                                                <a target="_blank" href="{{default.gallerylink}}"><img  width="600" border="0" height="385" alt="" border="0" style="display:block; border:none; outline:none; text-decoration:none;" src="{{default.url}}{{default.officebanner}}" class="banner"></a> <br><br>
                                                <div class="newTrends">
                                                   <h2>New Trends</h2>
                                                   <p>There are new trends and updates on nearly a daily basis, always keeping us on our toes.  Important updates for you to be aware of include:</p>
                                                   <h4>Digital Marketing Performance Test</h4>
                                                   <p>The FREE Digital Marketing Performance Test measures the performance of your website, Search Engine Marketing and Social Media Marketing compared to industry standard best practice!  <a href="{{default.testlink}}">Take the test here.</a> </p>

                                                   <h4>Google Panda 4.2 Is Here</h4>
                                                   <p>Google’s Panda Update is a search filter introduced in February 2011 meant to stop sites with poor quality content from working their way into Google's top search results. Panda is updated from time-to-time.  When this happens, sites previously hit may escape, if they’ve made the right changes. Panda may also catch sites that escaped before and penalise them. Take the <a href="{{default.testlink}}">Search Engine Marketing Performance Test</a> to see how your website performs.</p>

                                                </div>

                                             </td>
                                          </tr>
                                          <!-- End of content -->
                                       </tbody>
                                    </table>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
   </tbody>
</table>
<!-- end of intro text -->

<table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="banner">
   <tbody>
      <tr>
         <td>
            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
               <tbody>
                  <tr>
                     <td width="100%">
                        <table width="600" align="center" cellspacing="0" cellpadding="0" border="0" class="devicewidth">
                           <tbody>
                              <tr>
                                 <!-- start of image -->
                                    <td align="center" st-image="banner-image">
                                       <div class="imgpop">
                                          <img width="600" border="0" height="298" alt="" border="0" style="display:block; border:none; outline:none; text-decoration:none;" src="{{default.url}}{{default.performancebanner}}" class="banner">
                                       </div>
                                    </td>
                                 </tr>
                           </tbody>
                        </table>
                        <!-- end of image -->
                     </td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
   </tbody>
</table>

<!-- Start Info Text -->
<table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="full-text">
   <tbody>
      <tr>
         <td>
            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
               <tbody>
                  <tr>
                     <td width="100%">
                        <table width="560" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                           <tbody>
                              <!-- Spacing -->
                              <tr>
                                 <td height="20" class="spacing">&nbsp;</td>
                              </tr>
                              <!-- Spacing -->
                              <tr>
                                 <td>
                                    <table width="560" align="center" cellpadding="0" cellspacing="0" border="0" class="devicewidth">
                                       <tbody>
                                          <tr>
                                             <td class="bodytext" st-content="fulltext-content">                                                        
                                                <p><h2>Featured Development Work</h2>
                                                Below is a sample of some recent work completed by Traff1k D1g1tal.</p> <br><br>
                                             </td>
                                          </tr>
                                          <!-- End of content -->
                                       </tbody>
                                    </table>
                                 </td>
                              </tr>

                           </tbody>
                        </table>
                     </td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
   </tbody>
</table>
<!-- end of Info Text -->

<table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="full-text">
   <tbody>
      <tr>
         <td>
            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
               <tbody>
                  <tr>
                     <td width="100%">
                        <table width="560" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                           <tbody>
                              <tr>
                                 <td>
                                    <!-- end of col 2 -->

   {{#each default.featuredwork}}
         
                                       <table width="260" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
                                          <tbody>
                                             <tr>
                                                <td>
                                                   <!-- start of text content table -->  
                                                   <table width="260" align="center" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
                                                      <tbody>
                                                         <!-- content -->
                                                         <tr>
                                                            <td class="bodytext" st-content="3col-content3">
                                                               <h3>{{title}}</h3>
                                                              <a target="_blank" href="http://{{link}}">{{link}}</a><br><br>
                                                               {{#each work}}
                                                                  <span class="green">+</span> {{text}}<br>
                                                               {{/each}}
                                                            </td>
                                                         </tr>
                                                         <!-- end of content -->
                                                      </tbody>
                                                   </table>
                                                </td>
                                             </tr>
                                             <!-- end of text content table -->
                                          </tbody>
                                       </table>                                                                                                                              
   {{/each}}


                                       </table>
                                 </td>
                                 <!-- spacing -->
                                 <!-- end of spacing -->
                              </tr>
                           </tbody>
                        </table>
                     </td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
   </tbody>
</table>

<!-- Start of mobile banner -->
<table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="banner">
   <tbody>
      <tr>
         <td>
            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
               <tbody>
                  <tr>
                     <td width="100%">
                        <table width="600" align="center" cellspacing="0" cellpadding="0" border="0" class="devicewidth">
                           <tbody>
                              <tr>
                                 <!-- start of image -->
                                    <td align="center" st-image="banner-image">
                                       <div class="imgpop">
                                          <img width="600" border="0" height="348" alt="" border="0" style="display:block; border:none; outline:none; text-decoration:none;" src="{{default.url}}{{default.workbanner}}" class="banner">
                                       </div>
                                    </td>
                                 </tr>
                           </tbody>
                        </table>
                        <!-- end of image -->
                     </td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
   </tbody>
</table>
<!-- End of mobile-banner --> 

<!-- Start Info Text -->
<table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="full-text">
   <tbody>
      <tr>
         <td>
            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
               <tbody>
                  <tr>
                     <td width="100%">
                        <table width="560" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                           <tbody>
                              <!-- Spacing -->
                              <tr>
                                 <td height="20" class="spacing">&nbsp;</td>
                              </tr>
                              <!-- Spacing -->
                              <tr>
                                 <td>
                                    <table width="560" align="center" cellpadding="0" cellspacing="0" border="0" class="devicewidth">
                                       <tbody>
                                          <tr>
                                             <td class="bodytext" st-content="fulltext-content">
                                                <p><h2>Featured Results</h2>
                                                We have been generating some truly fantastic work over the past 6 months.</p>

                                                <h4>Client Milestones</h4>
                                                <span class="green">+</span> Nourish Group reaches over 1M people in June on Social Media with their venues <a href="http://www.eurobar.co.nz/" target="_blank">Euro</a>, JSH <a target="_blank" href="https://www.facebook.com/JervoisSteakHouseandSaloon">Auckland</a> & <a href="https://www.facebook.com/JervoisSteakHouseQueenstown?fref=ts">Queenstown</a>, Crab Shack <a href="https://www.facebook.com/TheCrabShackAKL?fref=ts">Auckland</a> & <a href="https://www.facebook.com/TheCrabShackWellington?fref=ts" target="_blank" title="">Wellington</a>, <a href="https://www.facebook.com/Shed5RestaurantAndBar">Shed 5</a> & <a target="_blank" href="https://www.facebook.com/PravdaCafeWellington?fref=ts">Pravda Café</a>.<br>
                                                <span class="green">+</span> Can you sell homes over Facebook?  We can and we continue to do it for <a target="_blank" href="https://www.facebook.com/universalhomesnz?fref=ts">Universal Homes</a>, reaching over 100K Aucklanders in our target demographic each month.<br>
                                                <span class="green">+</span> <a target="_blank" href="http://debmccoolrealestate.co.nz">Deb McCool</a> overtakes all others to be the most successful sales person for Harcourts Cooper &amp; Co for the months of May.  We are proud to have got Deb to the top of Googles results and are now underway with a new website &amp; Social Media Marketing.  Show your support and like Deb <a target="_blank" href="https://www.facebook.com/DebMcCoolRealEstate?fref=ts">here</a>.<br>                                                        
                                             </td>
                                          </tr>
                                          <!-- End of content -->
                                       </tbody>
                                    </table>
                                 </td>
                              </tr>

                           </tbody>
                        </table>
                     </td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
   </tbody>
</table>
<!-- end of Info Text -->

<!-- Start Re-Energised Brand Text -->
<table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="full-text">
   <tbody>
      <tr>
         <td>
            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
               <tbody>
                  <tr>
                     <td width="100%">
                        <table width="560" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                           <tbody>
                              <!-- Spacing -->
                              <tr>
                                 <td height="20" class="spacing">&nbsp;</td>
                              </tr>
                              <!-- Spacing -->
                              <tr>
                                 <td>
                                    <table width="560" align="center" cellpadding="0" cellspacing="0" border="0" class="devicewidth">
                                       <tbody>
                                          <tr>
                                             <td class="bodytext" st-content="fulltext-content">
                                                <h2>New Faces</h2>
                                                We are fortunate to welcome Christopher to our team, adding to the faces that you already know and love. <br><br>
                                             </td>
                                          </tr>
                                          <!-- End of content -->
                                       </tbody>
                                    </table>
                                 </td>
                              </tr>

                           </tbody>
                        </table>
                     </td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
   </tbody>
</table>
<!-- end of Re-Energised Brand Text -->

<!-- New Faces -->
<table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="full-text">
   <tbody>
      <tr>
         <td>
            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
               <tbody>
                  <tr>
                     <td width="100%">
                        <table width="560" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                           <tbody>
                              <tr>
                                 <td>
                                    <!-- end of col 3 -->
                                       <table width="170" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
                                          <tbody>
                                             <tr>
                                                <td>
                                                   <!-- start of text content table -->  
                                                   <table width="170" align="center" border="0" cellpadding="20" cellspacing="0" class="devicewidth">
                                                      <tbody>
                                                         <!-- content -->
                                                         <tr>
                                                            <td class="bodytext" st-content="3col-content3">
                                                            <img src="{{default.url}}/{{default.member}}" width="170" alt="{{default.member}}">
                                                            </td>
                                                         </tr>
                                                         <!-- end of content -->
                                                      </tbody>
                                                   </table>
                                                </td>
                                             </tr>
                                             <!-- end of text content table -->
                                          </tbody>
                                       </table>
                                       <table width="320" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
                                          <tbody>
                                             <tr>
                                                <td>
                                                   <!-- start of text content table -->  
                                                   <table width="320" align="center" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
                                                      <tbody>
                                                         <!-- content -->
                                                         <tr>
                                                            <td class="bodytext" st-content="3col-content3"> <br> <br>
                                                            <h4><span class="green">+</span>  Chris Inch</h4>                                                         
                                                            <strong>Business Growth Manager</strong> <br><br>
                                                            Chris has worked in the digital and mobile space for 8 years in both sales &amp; marketing and business analysis &amp; strategy.  With broad experience across the NSW and Australian market Chris we welcome his skills and experience to the Traff1k D1g1tal Australia team.

                                                            </td>
                                                         </tr>
                                                         <!-- end of content -->
                                                      </tbody>
                                                   </table>
                                                </td>
                                             </tr>
                                             <!-- end of text content table -->
                                          </tbody>
                                       </table>
                                       </table>
                                 </td>
                                 <!-- spacing -->
                                 <!-- end of spacing -->
                              </tr>
                           </tbody>
                        </table>
                     </td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
   </tbody>
</table>
<!-- end of new faces -->

<!-- Start Re-Energised Brand Text -->
<table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="full-text" class="footer">
   <tbody>
      <tr>
         <td>
            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
               <tbody>
                  <tr>
                     <td width="100%">
                        <table width="560" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                           <tbody>
                              <!-- Spacing -->
                              <tr>
                                 <td height="20" class="spacing">&nbsp;</td>
                              </tr>
                              <!-- Spacing -->
                              <tr>
                                 <td>
                                    <table width="560" align="center" cellpadding="0" cellspacing="0" border="0" class="devicewidth">
                                       <tbody>
                                          <tr>
                                             <td class="bodytext" st-content="fulltext-content">
                                                <p><h2>New Ways To Pay</h2>
                                                In New Zealand, we now accept Visa &amp; MasterCard with a 2.5% surcharge.  If you would like to take advantage, please contact <a href="mailto:accounts@traff1k.com">accounts@traff1k.com</a>.</p>

                                             </td>
                                          </tr>
                                          <!-- End of content -->
                                       </tbody>
                                    </table>
                                 </td>
                              </tr>

                           </tbody>
                        </table>
                     </td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
   </tbody>
</table>
<!-- end of Re-Energised Brand Text -->

<!-- Start Re-Energised Brand Text -->
<table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="full-text" class="footer">
   <tbody>
      <tr>
         <td>
            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
               <tbody>
                  <tr>
                     <td width="100%">
                        <table width="560" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                           <tbody>
                              <!-- Spacing -->
                              <tr>
                                 <td height="20" class="spacing">&nbsp;</td>
                              </tr>
                              <!-- Spacing -->
                              <tr>
                                 <td>
                                    <table width="560" align="center" cellpadding="0" cellspacing="0" border="0" class="devicewidth">
                                       <tbody>
                                          <tr>
                                             <td class="bodytext" st-content="fulltext-content">
                                                <div class="center"><span class="ty">Thank You</span><br><br></div>
                                                   I would personally like to thank the many people who have helped us with our new office in Sydney; <br><br>
                                                   <ul>
                                                      <li>SBID International Design Aware Winner Mal Corboy from <a href="">Mal Corboy Design</a>.</li>
                                                      <li>The team at <a target="_blank" href="http://www.schiavello.com">Schiavello</a>.</li>
                                                      <li>Geoff from <a target="_blank" href="http://www.nouvelle.com.au">Nouvelle</a>.</li>
                                                      <li>David from <a target="_blank" href="http://signssydney.com.au">Signarama Sydney CBD</a>.</li>
                                                      <li>Will & John from William Carter Electrical.</li>
                                                      <li>Don from <a target="_blank" href="http://www.macleodaluminium.com">Macleod Aluminium</a>.</li>
                                                      <li>John & Michael, 300 George Street PTY.</li>
                                                      <li>The whole team at Traff1k D1g1tal, especially Erica, Caroline, Colin and our talented team of designers.</li>
                                                      <li>Our awesome clients – without you, we would not be here.  Thank you for working with us and making our days great!</li>
                                                   </ul> <br>
                                                   
                                                   <div class="center">
                                                   Thanks again. <br><br>
                                                   Kind Regards, <br>
                                                   <strong>Michael MacDonald</strong> <br>
                                                   CEO </div>

                                             </td>
                                          </tr>
                                          <!-- End of content -->
                                       </tbody>
                                    </table>
                                 </td>
                              </tr>

                           </tbody>
                        </table>
                     </td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
   </tbody>
</table>
<!-- end of Re-Energised Brand Text -->

<!-- Footer Start -->
<table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="banner">
   <tbody>
      <tr>
         <td>
            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
               <tbody>
                  <tr>
                     <td width="100%">
                        <table width="600" align="center" cellspacing="0" cellpadding="0" border="0" class="devicewidth">
                           <tbody>
                              <tr>
                                 <!-- start of image -->
                                    <td align="center" st-image="banner-image">
                                       <div class="imgpop">
                                          <a target="_blank" href="http://traff1k.com"><img width="600" border="0" height="217" alt="" border="0" style="display:block; border:none; outline:none; text-decoration:none;" src="{{default.url}}/footer.jpg" class="banner"></a>
                                       </div>
                                    </td>
                                 </tr>
                           </tbody>
                        </table>
                        <!-- end of image -->
                     </td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
   </tbody>
</table>
<!-- End of footer --> 
<!-- New Faces -->
<table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" class="footer">
   <tbody>
      <tr>
         <td>
            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
               <tbody>
                  <tr>
                     <td width="100%">
                        <table width="600" bgcolor="#29292a" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                           <tbody>
                              <tr>
                                 <td>
                                    <!-- col 1 -->
                                 {{#each default.locations}}
                                    <table width="186" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
                                       <tbody>
                                          <tr>
                                             <td>

                                                <!-- start of text content table -->  
                                                <table width="186" align="center" border="0" cellpadding="10" cellspacing="0" class="devicewidth">
                                                   <tbody>
                                                      <!-- content -->
                                                      <tr>
                                                         <td  st-content="3col-content3">
                                                           {{location}}<br><br>
                                                           {{address}}<br>
                                                           {{address2}}<br>
                                                           {{address3}}<br>
                                                           P: {{phone}}<br>
                                                           E. <a href="mailto:{{email}}">{{email}}</a> <br><br>
                                                           {{#if twitter}}<a target="_blank" href="{{twitter}}"><img src="{{../../default.url}}/tweet.jpg" width="20%" alt=""></a>{{/if}}
                                                           {{#if facebook}}<a target="_blank" href="{{facebook}}"><img src="{{../../default.url}}/fb.jpg" width="20%" alt=""></a>{{/if}}
                                                           {{#if instagram}}<a target="_blank" href="{{instagram}}"><img src="{{../../default.url}}/gram.jpg" width="20%" alt=""></a>{{/if}}
                                                         </td>
                                                      </tr>
                                                      <!-- end of content -->
                                                   </tbody>
                                                </table>
                                             </td>
                                          </tr>
                                          <!-- end of text content table -->
                                       </tbody>
                                    </table>
                                    <!-- spacing -->
                                    {{#everyOther @index 3 }}
                                    {{else}}
                                    <table width="10" align="left" border="0" cellpadding="0" cellspacing="0" class="removeMobile">
                                       <tbody>
                                          <tr>
                                             <td width="100%" height="15" class="spacing">&nbsp;</td>
                                          </tr>
                                       </tbody>
                                    </table>
                                    {{/everyOther}} 
                                    <!-- end of spacing -->
                                 {{/each}}
                                    </table>
                                 </td>
                                 <!-- spacing -->
                                 <!-- end of spacing -->
                              </tr>
                           </tbody>
                        </table>
                     </td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
   </tbody>
</table>
<!-- end of new faces -->
<table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="full-text" class="footer">
   <tbody>
      <tr>
         <td>
            <table width="600" cellpadding="0"  bgcolor="#29292a"  cellspacing="0" border="0" align="center" class="devicewidth">
               <tbody>
                  <tr>
                     <td width="100%">
                        <table width="560"  bgcolor="#29292a"  cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                           <tbody>
                              <!-- Spacing -->
                              <tr>
                                 <td height="20" class="spacing">&nbsp;</td>
                              </tr>
                              <!-- Spacing -->
                              <tr>
                                 <td>
                                    <table bgcolor="#29292a" width="560" align="center" cellpadding="0" cellspacing="0" border="0" class="devicewidth">
                                       <tbody>
                                          <tr>
                                             <td class="bodytext" st-content="fulltext-content">
                                                <img width="600" border="0" height="10" alt="" border="0" style="display:block; border:none; outline:none; text-decoration:none;" src="{{default.url}}/line.jpg" class="banner"> <br>
                                                <div class="white">lorem ipsum. <br><br> </div>

                                             </td>
                                          </tr>
                                          <!-- End of content -->
                                       </tbody>
                                    </table>
                                 </td>
                              </tr>

                           </tbody>
                        </table>
                     </td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
   </tbody>
</table>
<br><br><br><br>